.upload_button
{
    border: 1px solid #0f74a8;
    padding: 10px;
    color: #fff;
    background-color: #3C8DBC;
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: larger;
    font-family: myFirstFont;
}
.upload_button:hover
{
    background-color: #0f74a8;
}
input[type='file']
{
    display: none;
}
